/* CSS File */
/* Home Page *---------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
body{
    background-color: black;
}
header{
    background-repeat: no-repeat;
    background-color: yellow;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

}

.background{
    background-color: yellow;
}

.logo_name{
    height: 30px;
    width: 600px;
    margin: auto;
    text-shadow: 1px 0 #999999, 0 2px 0 #888888,
                0 3px 0 #777777, 0 4px 0 #666666,
                0 5px 0 #555555, 0 6px 0 #444444,
                0 7px 0 #333333, 0 8px 7px rgba(0, 0, 0, 0.4),
                0 9px 10px rgba(0, 0, 0, 0.2);
}

#logo_header{
    float: left;
    width: 200px;
    height: 200px;
}

header, ul{
    list-style: none;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 30px;
    color: black; 
}


.menu_buttons{
    background-color: black;
    text-align: center;
}

.menu_buttons li{
    display: inline-block;
    padding: 10px;
    margin: 10px;
    transform: skewX(-30deg);
    box-shadow: 2px 2px 2px yellow;
    font-weight: bolder;
}

.menu_buttons li:hover{
    border-radius: 50%;
    transition: 1s ease-in-out;
    box-shadow: 2px 2px 2px red;
}

.logo{
    height: 200px;
    width: 200px;
}

.btn{
    width: 200px;
    padding: 10px;
    background-color: rgb(235, 235, 34);
    transform: skewX(-30deg);
    font-weight: bolder;
}



.login_buttons{
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: white solid 2px;
}

.login_buttons button:hover{
    background-color: red;
}

img{
    object-fit: cover;
    height: 300px;
    width: 100%;
}

#deals{
    height: 204px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: black;
}

.d1
{
    width: 100%;
    height: 200px;
    border: 2px solid white;
    font-size: x-large;
    background-color: black;
    margin: 0px;
    text-align: center;
}

.d1 p{
    font-size: 30px;
    /* font-weight: bolder; */
    color: white;
    align-items: center;
    height: 100%;
    font-family: fantasy;
}

.dealsss
{
    height: 200px;
    width: 98.8%;
    display: flex;
    justify-content: center;
    font-size: 50px;
    animation: deals;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    background-color: yellow;
    border: 10px black solid;
    font-family: OCR A Std, monospace;
}

@keyframes deals
{
    0%   {color:black;}
    50%   {color:yellow;}
    100%   {color:black;}
  }

customerreviews{
    display: flex;
}

#review{
    background-color: yellow;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    animation: review_background 15s;
    animation-iteration-count: infinite;
    border: 10px black solid;
    font-family: monospace;
}


.meals
{
    height: 100vh;
    animation-name: meals_slideshow;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;  
    /* margin-left: 30%; */
}

@keyframes meals_slideshow
{
    0% {background-image: url(https://media.tenor.com/eUGHG9KE7JoAAAAd/fried-chicken-frying.gif);}
    25% {background-image: url(https://i.pinimg.com/originals/07/be/42/07be42ef7d7b1c6ca05b4eaef2608bd1.gif);}
    50% {background-image: url(https://img.izismile.com/img/img14/20210226/gifs/rating_of_best_fast_food_restaurant_french_fries_09.gif);}
    75% {background-image: url(https://media4.giphy.com/media/2eKjMej0e09EoOPgrl/giphy.gif);}
    100% {background-image: url(https://media.tenor.com/eUGHG9KE7JoAAAAd/fried-chicken-frying.gif);}
}

#review h2, h3, h4, p{
    text-align: center;
    
}
#welcome_words h2, h3, h4, p{
    text-align: center;
    font-size: large;
}

.quote{
    display: flex;
    width: fit-content;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.quote div{
    background-color: black;
    color: white;
}

#num1{
    width: 300px;
    height: 200px;
    /* background-color: #fcfcfc; */
    padding: 10px;
    font-size: 18px;
    margin: 20px;
}

#num2{
    width: 300px;
    height: 200px;
    /* background-color: #fcfcfc; */
    font-size: 18px;
    padding: 10px;
    margin: 20px;
}

#num3{
    width: 300px;
    height: 200px;
    /* background-color: #fcfcfc; */
    padding: 10px;
    font-size: 18px;
    margin: 20px;
    
}

.contact{
    flex: end;
    min-height: 150px;
    color: white;
    /* padding: 20px; */
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

#gmap
{
    width: 100%;
    height: 400px;
}
#media{
    text-align: center;
}

.socials{
    margin: auto 0;
    min-height: 100%;
    width: 200px;
    justify-content: space-evenly;
    display: inline-flex;
}

footer{
    display: flexbox;
    height: 100%;
    width: 100%;
    background-color: #555;
    padding: 10px;

}

/* Sign up Page *---------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.text-input-block 
{
    display: flex;
}
.form
{
    animation-name: sign_up_background;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 60%;
    margin-top: 3%;
    padding: 5%;
    align-items: center;
    border-radius: 30px;
}
.form label{
    animation-name: form_label;
    animation-iteration-count: infinite;
    animation-duration: 15s;
}
@keyframes form_label {
    0%   {color: black;}
    40%  {color: white;}
    100% {color: black;}
}

@keyframes sign_up_background
{
    0%   {background-color: yellow;}
    50%  {background-color: black;}
    100% {background-color: yellow;}
}

/* Log in Page *---------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
#logInDiv
{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 30%;
    margin-top: 5%;
    padding: 7%;
    align-items: center;
    background-color: black;
    animation-name: login_background;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    border-radius: 30px;
}
@keyframes login_background 
{
    0%   {background-color: yellow;}
  50%  {background-color: black;}
  100% {background-color: yellow;}
}


#logInDiv input{
    border-radius: 30px;
    height: 20px;
    width: 70%;
    margin: 5px;
    text-align: center;
}
#logInDiv label
{
    color: white;
    font-family: "Comic Sans MS", cursive, sans-serif;
    animation-name: form_label;
    animation-iteration-count: infinite;
    animation-duration: 15s;
}
#logInDiv button
{
    color: black;
    background-color: white;
}
.log-in-outer
{
    height: 70vh;
    background-color: yellow;
    display: flex;
    justify-content:center;
    animation-name: login_div_background;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}
@keyframes login_div_background {
    0%   {background-color: black;}
  50%  {background-color: yellow;}
  100% {background-color: black;}
}

.paymenttt h2{
    height: 30px;
    width: fit-content;
    padding: 0;
    font-size: 50px;
    font-weight: bolder;
    color: black;
}



/* Payment Page *------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.outer_payment{
    display: flex;
    justify-content: center;
}
.paymenttt{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 500px;
    background-color: yellow;
    padding: 40px;
}
.basic_info{
    
}

.nameholder-info
{
    display: flex;
    justify-content: space-between;
    width: 300px;
    height: 20px;
    padding: 5px;
}

.custom_info
{
    display: flex;
    width: 300px;
    height: 20px;
    justify-content: center;
} 

.custom_info label{
    padding-right: 10px;
}

#custom2{
    width: 50px;
}

.submit-now-btn
{
    width: 200px;
    height: 30px;
    border-radius: 30px;
    margin-top: 15px;
    background-color: black;
    color: white;
}
.submit-now-btn:hover{
    border: red solid 3px;
    color: red;
}


/* Menu Page *---------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


manager {
    box-sizing: border-box;
    background-color: rgb(186, 186, 186);
    border: 10px solid black;
    padding: 0.5%;
    display: block;
}

manager h2{}

manager p {}


#menu_cart
{
    display: flex;
}
.carto{
    display: flex;
}
menu
{
    width: 80%;
    border: 5px solid black;
    /* animation-name: menu_background;
    animation-duration: 180s;
    animation-iteration-count: infinite; */
    padding: 20px;
    background-color: yellow;
}

@keyframes menu_background {
    0%{background-color: yellow;}
    50%{background-color: yellow;}
    100%{background-color: yellow;}
}

#menu h1
{
    text-align: center;
    font-family: Brush Script MT, Brush Script Std;
    font-size: 50px;
}

.menu_row
{
    display: flex;
}
.menu_item
{
    width: 20%;
    border: 5px solid black;
    background-color: black;
    color: white;
    font-family: OCR A Std, monospace;
    
}
.menu_item:hover
{
    border: 5px dashed red;
}
.menu_item img
{
    width: 100%;
    height: 200px
}
.menu_item button
{
    width: 100%;
    background-color: yellow;
    color: black;
}
.menu_item button:hover
{
    background-color: red;
}
.menu_item_fp
{
    display: flex;
    justify-content: space-around;
}

/* cart */
cart{
    border: 1px solid white;
    background-color: black;
    color: white;
    width: 20%;
    margin: 16px 0px;
    padding: 5px;
    text-align: center;
}

input[type='number']{
    width: 32px;
} 

#cart_table tr{

}
.money div
{
    display: flex;
    justify-content: center;
    margin-right: 10px;
}
.money div p 
{
    padding-left: 5px;
}
.cart_buttons
{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.cart_buttons button
{
    width: 100px;
    background-color: white;
}
.cart_buttons button:hover
{
    background-color: red;
}
.checkout_btn button
{
    width: 100%;
    background-color: red;
    height: 30px;
}
.checkout_btn button:hover
{
    border: white solid 3px;
}

.green_text
{
    color: lightgreen;
    font-size: medium;
    margin: 0;
}


/* About us Page *---------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
#about_us
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: yellow;
}
#about_us img
{
    width: 50%;
}
#about_us div
{
    display: flex;
    width: 75%;
    justify-content: space-between;
}
#about_us div p
{
    border: 1px black solid;
    padding: 5px;
    margin: 5px;
    width: 25%;
    font-family: Comic Sans MS, Comic Sans, cursive
}
#about_us h2{
    font-family: Comic Sans MS, Comic Sans, cursive
}

#about_us_imgs
{
    display: flex;
}
#about_us_imgs img
{
    height: 300px;
    padding: 1px;
}

/* Receipt Page *---------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
#receipt{
    box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5);
    padding:6mm;
    margin: 0 auto;
    width: 60mm;
    background: #FFF;
}

#receipt h2{
    font-size: 1em;
  }

#receipt p{
    font-size: .76em;
    color: #666;
    line-height: 1.2em;
    display: inline-block;
  }

  #top, #mid, #bot{ 
    border-bottom: 1px solid #EEE;
    text-align: center;
  }
  
#top{
    min-height: 100px;
  }

#mid{
    min-height: 80px;
  }
    
#bot{ 
    min-height: 50px;
  }

table{
    width: 100%;
    border-collapse: collapse;
  }

  .tabletitle{
    padding: 5px;
    font-size: .9em;
    background: #EEE;
  }
  
.logo img{
      height: 180px;
      width: 180px;
      margin: auto;
      margin-left: 1.5em;
  }
  
